<div class="container">
    <div class="text-center mb-3">
        <img class="my-3" src="assets/logo.png" alt="Mingle">
        <p class="lead">We kindly invite you to join our vibrant community!</p>
        <p class="lead">Future soul mate might be just few clicks away...</p>
        <div class="text-center mt-4">
            <button class="btn btn-outline-primary mx-2" routerLink="/auth/login">Login</button>
            <button class="btn btn-primary mx-2" routerLink="/auth/register">Register</button>
        </div>
    </div>
</div>