<div class="card">
    <div class="card-body" #scroller>
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            <p class="lead">No messages yet... say hi by using the message box below.</p>
        </div>
        <ul class="chat" *ngIf="(messageService.messageThread$ | async)?.length > 0">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-circle" src="{{ message.senderPhotoUrl || './assets/user.png' }}"
                            alt="{{ message.senderUsername }}">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{ message.messageSent | timeago }}</span>
                                <span class="text-danger"
                                    *ngIf="!message.dateRead && message.senderUsername !== username">
                                    (unread)</span>
                                <span class="text-success"
                                    *ngIf="message.dateRead && message.senderUsername !== username"> (read {{
                                    message.dateRead | timeago }})</span>
                            </small>
                        </div>
                        <p>{{ message.content }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer mb-3">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input type="text" class="form-control message-input input-sm" placeholder="Send a private message"
                    name="messageContent" [(ngModel)]="messageContent" required>
                <div class="input-group-append">
                    <button class="btn btn-primary ms-2" type="submit" [disabled]="!messageForm.valid || loading">
                        Send <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>